{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        ring/ring {:mvn/version "1.8.0"}
        com.h2database/h2 {:mvn/version "1.4.200"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.737"}}
        
        ;ring/ring-defaults {:mvn/version "0.3.2"}}
        ;ring/ring-core {:mvn/version "1.8.0"}
        ;ring/ring-jetty-adapter {:mvn/version "1.8.0"}
        ;ring/ring-json {:mvn/version "0.5.0"}

 :aliases
 ;; NOTE: To build the frontend: `yarn install; npx shadow-cljs release main`
 {:frontend {:extra-paths ["frontend/src/main"]
             :extra-deps  {lilactown/helix      {:mvn/version "0.1.4"}
                           thheller/shadow-cljs {:mvn/version "2.16.4"}
                           binaryage/devtools   {:mvn/version "1.0.4"}}}
  :server {:main-opts ["-m" "interactive.server"]} ; TODO: Broken?! FF loads forever
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}
          :main-opts ["-m" "nrepl.cmdline" "--port" "52162"]}
  ;; Deps added by Calva when running jack-in, as of 11/2021
  :calva {:extra-deps
          {nrepl/nrepl {:mvn/version "0.8.3"}
           cider/cider-nrepl {:mvn/version "0.26.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}}}
